<mat-card>
  <mat-card-header>
    <mat-card-title>Narroparty</mat-card-title>
    <mat-card-subtitle>Feiere mit uns das größte Fasents-Event des Jahres! Die Narro-Gruppe e.V. Oberkirch lädt dich zur
      legendären Narro-Party ein!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>calendar_today</mat-icon> Wann & Wo? </mat-panel-title>
        </mat-expansion-panel-header>

        <p><strong>Datum:</strong> 14. Februar 2026</p>
        <p><strong>Ort:</strong> Erwin-Braun-Halle, Querstraße 10, Oberkirch</p>
        <p><strong>Einlass:</strong> 19:01 Uhr</p>
        <p><strong>Beginn:</strong> 20:01 Uhr</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>confirmation_number</mat-icon> Eintrittspreise</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Vorverkauf:</strong> 6,00 € (erhältlich ab 3 Wochen vor der Party bei Papier Grießmayer)</p>
        <p><strong>Abendkasse:</strong> 8,00 €</p>
        <p><strong>Hästräger:</strong> Eintritt frei!</p>
        <p><strong>Einlass ab:</strong> 18 Jahren (Jugendliche unter 16 nur in Begleitung der Eltern)</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>music_note</mat-icon> Das Programm</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Fanfarenzüge & Guggenmusik</mat-list-item>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Stimmungs-DJ in den Pausen</mat-list-item>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Tanzauftritte verschiedener Zünfte</mat-list-item>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Leckere Speisen aus der Narrokombüse</mat-list-item>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Schwungvolle Stimmung & Gaudi</mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>star_shine</mat-icon>Highlights</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Weinbrunnen – Getränke und Spaß in allen
            Variationen</mat-list-item>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Narrobar – Für die, die es richtig krachen lassen
            wollen.</mat-list-item>
          <mat-list-item><mat-icon>chevron_right</mat-icon>Leckere Köstlichkeiten aus der Narro-Küche</mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>group_add</mat-icon>Anmeldung für Vereine und Gruppen</mat-panel-title>
        </mat-expansion-panel-header>
        Coming soon...
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>person_add</mat-icon>Anmeldung für Einzelpersonen</mat-panel-title>
        </mat-expansion-panel-header>
        Coming soon...
      </mat-expansion-panel>


      <p>Hast du Fragen oder Interesse? Schreib uns eine Nachricht über Facebook oder Instagram, oder melde dich
        direkt bei uns per E-Mail!</p>
      <footer class="footer">
        <p>Wir freuen uns auf dich!
          Komm vorbei, feiere mit uns und sei Teil der Narro-Party 2026! </p>
      </footer>
    </div>
  </mat-card-content>
</mat-card>