<div class="page">
  <div class="page-header">
    <h1>Wir suchen dich!</h1>
  </div>

  <div class="event-grid">
    <div class="event-main">
      <div class="info-card">
        <h2>Das bringst du mit:</h2>
        <ul class="detail-list">
          <li>
            <div>
              <span>Liebst und lebst die Fasent</span>
            </div>
          </li>
          <li>
            <div>
              <span>Möchtest neue Leute kennenlernen
              </span>
            </div>
          </li>
          <li>
            <div>
              <span>Bist stets freundlich</span>
            </div>
          </li>
          <li>
            <div>
              <span>Bist hilfsbereit</span>
            </div>
          </li>
          <li>
            <div>
              <span>Hast kreative Ideen</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="desc-card">
        <h2>Anmeldeformular</h2>
        <p>Currently under construction.</p>
        
    </div>
</div>
