<mat-card>
  <mat-card-header>
    <mat-card-title>Impressum</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Narro-Gruppe Oberkirch e.V.<br />
      Gaisbacher Stra&szlig;e 36<br />
      77704 Oberkirch</p>

    <p>Vereinsregister: VR 56<br />
      Registergericht: Amtsgericht Oberkirch</p>

    <p><strong>Vertreten durch:</strong><br />
      Carmen Strack<br />
      Markus Zimmermann<br />
      Sascha Sp&auml;th</p>

    <h2>Kontakt</h2>
    <p>Telefon: 07802/4903<br />
      E-Mail: <a href="mailto:Obernarro@narro-oberkirch.de">Obernarro(at)narro-oberkirch.de</a></p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.</p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
  </mat-card-content>
</mat-card>