<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-button routerLink="/{{this.Routes.home}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Home
  </button>
    <button mat-button routerLink="/{{this.Routes.photos}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Fotos
  </button>
  <button mat-button routerLink="/{{this.Routes.event}}" routerLinkActive="active">
    Narroparty
  </button>
  <button mat-button routerLink="/{{this.Routes.impressum}}" routerLinkActive="active">
    Impressum
  </button>
  <button mat-button routerLink="/{{this.Routes.privacyPolicy}}" routerLinkActive="active">
    Datenschutz
  </button>
</mat-toolbar>
